* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444444;
    color: #bbbbbb;
}

/* Navbar */

.nav--container {
    display: flex;
    align-items: center;
    background-color: #333333;
}

.nav--title {
    margin-right: auto;
    padding: 1rem;
}

.nav--list > li {
    list-style-type: none;
    display: inline;
    padding: 1rem;
}

.nav--list > li > a {
    text-decoration: none;
    color: #111111;
}

.nav--list > li > a:hover {
    color: #555555;
}

/* About Section */

.section--about {
    
}