@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@1&family=Raleway:wght@600;900&family=Rubik&display=swap');

// Colors
$primary-color: #aec5eb; // Main BG Color/Paragraph Text Color
$secondary-color: #3a405a; // Navbar/Card BG
$text-color: #f9dec9; // Header text
$secondary-text-color: #e9afa3;
$dark-text-color: #CE7B91;

$shadow: 5px 5px 5px 5px $secondary-color;
$border: solid $secondary-text-color;

// Fonts
$header-font: 'Raleway', sans-serif;
$subtitle-font: 'Fanwood Text', sans-serif;
$text-font: 'Rubik', sans-serif;

// font-family: 'Fanwood Text', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Rubik', sans-serif;