@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@1&family=Raleway:wght@600;900&family=Rubik&display=swap');

// Colors
$primary-color: #444444;
$secondary-color: #333333;
$text-color: #bbbbbb;
$secondary-text-color: #111111;

// Fonts
$header-font: 'Raleway', sans-serif;
$subtitle-font: 'Fanwood Text', sans-serif;
$text-font: 'Rubik', sans-serif;

// font-family: 'Fanwood Text', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Rubik', sans-serif;