@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $primary-color;
    color: $text-color;
}

// Navbar

.nav--container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    font-family: $header-font;
    list-style-type: none;
    font-size: 2rem;
    padding: 0.5rem;
    .nav--links {
        font-size: 2rem;
        padding: 1rem;
        text-decoration: none;
        color: $text-color;
        letter-spacing: 0.5px;
        &:hover {
            color: $subtitle-text-color;
            transition: 1s;
        }
    }
}

// Home

.section--home {
    height: 100%;
    text-align: center;
    overflow: hidden;
    .home--subtitle {
        font-family: $subtitle-font;
        letter-spacing: 3px;
        color: $subtitle-text-color;
        padding-top: 2.5rem;
        font-size: 4rem;
    }
    .home--title {
        font-family: $header-font;
        font-size: 6rem;
        margin: 0;
    }
    .home--container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2.5rem;
        font-family: $text-font;
        img {
            border-radius: 100px;
            border: $border;
            height: 23rem;
        }
    }
}

// About

.section--about {
    overflow: hidden;
    .about--container {
        display: flex;
        justify-content: center;
        align-items: center;
        .about--background {
            background-color: $secondary-color;
            width: 33%;
            margin-left: 4rem;
            border: $border;
            border-radius: 10px;
            box-shadow: $shadow;
            p {
                font-family: $text-font;
                padding: 2rem;
                color: $text-color;
            }
        }
        img {
            border-radius: 100px;
            border: $border;
        }
    }
}

// Projects

.section--projects {
    overflow: hidden;
}

// Contact

.section--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6vh;
    overflow: hidden;
    .submitMessage {
        display: inline-block;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
        font-family: $text-font;
        background-color: $secondary-color;
        width: 30%;
        text-align: center;
    }
    .form--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        font-family: $text-font;
        background-color: $secondary-color;
        padding: 4vh;
        border: $border;
        border-radius: 10px;
        box-shadow: $shadow;
        width: 50%;
        gap: 1vh;
        input[type="text"], input[type="email"] {
            margin-bottom: 2vh;
            height: 2rem;
            text-indent: 10px;
            border: 2px solid #444;
            border-radius: 5px;
            display: block;
            padding-top: 2vh;
            padding-bottom: 2vh;
            width: 80%;
        }
        textarea {
            margin-bottom: 2vh;
            border: 2px solid #444;
            border-radius: 5px;
            display: block;
            resize: none;
            font-size: 1rem;
            width: 80%;
            height: 6rem;
        }
        button {
            padding: 1rem;
            margin-top: 1rem;
            border: 2px solid #444;
            border-radius: 5px;
            &:hover {
                background-color: #dddddd;
                cursor: pointer;
            }
        }
    }
}

// Footer

.section--footer {
    overflow: hidden;
    background-color: $secondary-color;
    font-family: $header-font;
    text-align: center;
    height: 15rem;
    padding-top: 0.5rem;
    .footer--email {
        padding-bottom: 1rem;
    }
    .footer--icons {
        padding-bottom: 2rem;
        a {
            text-decoration: none;
            color: $text-color;
            &:hover {
                color: $primary-color;
                transition: 0.5s;
            }
        }
        display: flex;
        justify-content: center;
        gap: 10rem;
    }
}

// Titles

.title {
    text-align: center;
    font-size: 4rem;
    font-family: $title-font;
    font-weight: 800;
    color: $text-color;
}

// Card

.card--container {
    width: 30rem;
    height: 34rem;
    flex: 0 0 auto;        
    display: flex;         
    flex-direction: column;
    position: relative;
    background-color: $secondary-color;
    border: solid $text-color;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: $shadow;
    align-items: center;
    min-height: 520px;
    .card--image {
        height: 20rem;
        width: 20rem;
        object-fit: contain;
        border-radius: 5px;
    }
    .card--title {
        padding-top: 1rem;
        font-family: $header-font;
        font-size: 2rem;
        text-align: center;
        color: $subtitle-text-color;
    }
    .card--skills {
        display: flex;
        .card--skill {
            padding: 0.5rem;
            font-family: $text-font;
            font-style: italic;
        }
    }
    .card--description {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: $text-font;
        color: $text-color;
    }
    .card--link {
        margin-top: auto;
        .card--button {
            padding: 0.5rem;
            border-radius: 5px;
            font-family: $header-font;
            font-size: 1rem;
            width: 6rem;
            background-color: $subtitle-text-color;
            &:hover {
                background-color: $text-color;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    justify-content: center;
}