@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $primary-color;
    color: $text-color;
}

// Mixins

@mixin gradient-text($gradient) {
    background-image: $gradient;
    background-clip: text;
    --webkit-backgroud-clip: text;
    color: transparent;
}

// Navbar

.nav--container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    font-family: $header-font;
    list-style-type: none;
    font-size: 2rem;
    padding: 0.5rem;
    .nav--links {
        font-size: 2rem;
        padding: 1rem;
        text-decoration: none;
        color: $text-color;
        letter-spacing: 0.5px;
        &:hover {
            @include gradient-text(
                linear-gradient(
                    90deg,
                    rgba(0, 212, 255, 1) 7%,
                    rgba(111, 111, 221, 1) 30%,
                    rgba(121, 238, 255, 1) 72%,
                    rgba(226, 237, 240, 1) 95%
                )
            );
            transform: scale(1.1);
            transition: 0.2s;
        }
    }
}

// Home

.section--home {
    height: 100%;
    text-align: center;
    overflow: hidden;
    .home--subtitle {
        font-family: $subtitle-font;
        letter-spacing: 3px;
        color: $subtitle-text-color;
        padding-top: 2.5rem;
        font-size: 4rem;
    }
    .home--title {
        font-family: $header-font;
        font-size: 8rem;
        margin: 0;
        @include gradient-text(
            linear-gradient(
                90deg,
                rgba(0, 212, 255, 1) 36%,
                rgba(111, 111, 221, 1) 44%,
                rgba(121, 238, 255, 1) 58%,
                rgba(226, 237, 240, 1) 63%
            )
        );
    }
    .home--container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2.5rem;
        font-family: $text-font;
        img {
            border-radius: 100px;
            border: $border;
            height: 23rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    .section--home {
        height: auto;
        text-align: center;
        overflow: hidden;
        .home--subtitle {
            font-family: $subtitle-font;
            letter-spacing: 3px;
            color: $subtitle-text-color;
            padding-top: 2.5rem;
            font-size: 4rem;
        }
        .home--title {
            font-family: $header-font;
            font-size: 8rem;
            margin: 0;
            @include gradient-text(
                linear-gradient(
                    90deg,
                    rgba(0, 212, 255, 1) 36%,
                    rgba(111, 111, 221, 1) 44%,
                    rgba(121, 238, 255, 1) 58%,
                    rgba(226, 237, 240, 1) 63%
                )
            );
        }
        .home--container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 2.5rem;
            font-family: $text-font;
            img {
                border-radius: 100px;
                border: $border;
                height: 23rem;
            }
        }
    }
}

// About

.section--about {
    overflow: hidden;
    .about--container {
        display: flex;
        justify-content: center;
        align-items: center;
        .about--background {
            background-color: $secondary-color;
            width: 33%;
            margin-left: 4rem;
            border: $border;
            border-radius: 10px;
            box-shadow: $shadow;
            p {
                font-family: $text-font;
                padding: 2rem;
                font-size: 1.5rem;
                color: $text-color;
            }
        }
        img {
            border-radius: 100px;
            border: $border;
        }
    }
}

@media screen and (max-width: 1000px) {
    .section--about {
        .about--container {
            .about--background {
                p {
                    font-size: 1rem;
                }
            }
            img {
                width: 20rem;
            }
        }
    }
}

// Experience
.section--experience {
    overflow-x: hidden;
}

.experience--container {
    display: flex;
    flex-grow: 1;
    width: 45%;
    margin: auto;
    .experience--tabs {
        .experience--label {
            font-family: $text-font;
            color: $text-color;
        }
    }
    .experience--panel {
        width: 100%;
        .experience--name {
            font-family: $header-font;
            @include gradient-text(
                linear-gradient(
                    90deg,
                    rgba(0, 212, 255, 1) 7%,
                    rgba(111, 111, 221, 1) 19%,
                    rgba(121, 238, 255, 1) 32%,
                    rgba(226, 237, 240, 1) 46%
                )
            );
            font-size: 2rem;
        }
        .experience--subtitle {
            font-family: $subtitle-font;
            opacity: 75%;
            padding-bottom: 0.5rem;
        }
        .experience--bullet {
            font-family: $text-font;
            padding-top: 0.5rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    .experience--container {
        width: 80%;
    }
}

// Projects

.section--projects {
    overflow: hidden;
}

// Contact

.section--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6vh;
    overflow: hidden;
    .submitMessage {
        display: inline-block;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
        font-family: $text-font;
        background-color: $secondary-color;
        width: 30%;
        text-align: center;
    }
    .form--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        font-family: $text-font;
        background-color: $secondary-color;
        padding: 4vh;
        border: $border;
        border-radius: 10px;
        box-shadow: $shadow;
        width: 50%;
        gap: 1vh;
        input[type='text'],
        input[type='email'] {
            margin-bottom: 2vh;
            height: 2rem;
            text-indent: 10px;
            border: 2px solid #444;
            border-radius: 5px;
            display: block;
            padding-top: 2vh;
            padding-bottom: 2vh;
            width: 80%;
        }
        textarea {
            margin-bottom: 2vh;
            border: 2px solid #444;
            border-radius: 5px;
            display: block;
            resize: none;
            font-size: 1rem;
            width: 80%;
            height: 6rem;
        }
        button {
            padding: 1rem;
            margin-top: 1rem;
            border: 2px solid #444;
            border-radius: 5px;
            &:hover {
                background-color: $subtitle-text-color;
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .section--contact {
        .form--container {
            width: 80%;
        }
    }
}

// Footer

.section--footer {
    overflow: hidden;
    background-color: $secondary-color;
    font-family: $header-font;
    text-align: center;
    height: 15rem;
    padding-top: 0.5rem;
    .footer--email {
        color: $text-color;
        text-decoration: none;
        &:hover {
            color: $subtitle-text-color;
            transition: 0.2s;
        }
    }
    .footer--icons {
        padding-top: 1rem;
        padding-bottom: 2rem;
        a {
            text-decoration: none;
            color: $text-color;
            &:hover {
                color: $subtitle-text-color;
                transform: scale(1.5);
                transition: 0.2s;
            }
        }
        display: flex;
        justify-content: center;
        gap: 10rem;
    }
}

// Titles

.title {
    text-align: center;
    font-size: 4rem;
    font-family: $title-font;
    font-weight: 800;
    color: $text-color;
}

// Card

.card--container {
    width: 30rem;
    height: 34rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $secondary-color;
    border: solid $text-color;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: $shadow;
    align-items: center;
    min-height: 520px;
    .card--image {
        height: 20rem;
        width: 20rem;
        object-fit: cover;
        border-radius: 5px;
    }
    .card--title {
        padding-top: 1rem;
        font-family: $header-font;
        font-size: 2rem;
        text-align: center;
        color: $subtitle-text-color;
    }
    .card--skills {
        display: flex;
        .card--skill {
            padding: 0.5rem;
            font-family: $text-font;
            font-style: italic;
            opacity: 75%;
        }
    }
    .card--description {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: $text-font;
        color: $text-color;
    }
    .card--link {
        margin-top: auto;
        .card--button {
            padding: 0.5rem;
            border-radius: 5px;
            font-family: $header-font;
            font-size: 1rem;
            width: 6rem;
            background-color: $subtitle-text-color;
            &:hover {
                background-color: $text-color;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    justify-content: center;
}
